@font-face {
  font-family: 'Acwa';
  src: url('../src/font/stonehen.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Acwa';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background-color: black;
}
h1 {
  font-size: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
}
.menu {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  z-index: 100;
}
.menu span {
  display: inline-block;
  height: 3px;
  margin: 2px 0px;
  width: 40px;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid black;
}
.leftSide{
  position: absolute;
  width: 50%;
  left: 100%;
  display: flex;
  font-size: 40px;
  height: 100vh;
  color: black;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  align-items: flex-start;
  top: 0;
  background-color: #eee;
}
body{
  overflow-x: hidden;
}
.leftSide h2 {
  cursor: pointer;
}